#gameContainer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.gamePixel {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid black;
}

.borderPixel {
  background-color: lightgray;
}

.snakeBodyPixel {
  background-color: green;
}

.food {
  background-color: red;
}

.scoreBoard {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
